/* Общие стили для страницы About */
.about-page {
    font-family: 'Circe', sans-serif;
    color: #333;
    background-color: #fff;
}

/* Герой секция */
.about-hero {
  display: flex;
   padding: 250px 0 0 25px;
    position: relative;
    height: 100vh;
    background: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(196, 196, 196, 0)),
  url('info/bq.png') center/cover no-repeat;
    margin-top: -110px;
    
}

.hero-overlay {
    text-align: left;
    padding: 40px;
    max-width: 800px;
    justify-self: start;
}

.about-hero h1 {
    
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
}

.hero-subtitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #B5B5B5;
    text-transform: uppercase;
}

/* Секции контента */
.about-mission {
    padding: 150px 0 70px ;
    max-width: 1400px;
    margin: 0 auto;
}
.about-values{ 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('info/aboutbq.png')center/cover no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:#fff;
    padding: 20px 0 25px;
    position: relative;
    height: 100vh;
    gap: 20px;
}
.mission-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.mission-item img{
 width: 600px;  
}

.about-mission h2{
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    
}
.about-values h2{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #ffffff;
   
}
.about-licenses h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}
.values-content p{
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 10px;
    max-width: 850px;
    font-weight: 400;
    text-align: center;
}
.mission-content p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 10px;
    max-width: 590px;
}

.about-licenses{
     padding: 70px 0 70px ;
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
}
.licenses-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 20px;
    align-items: center;
}

.license-item img {
    width: 330px;
   
    
}
.director{
    padding: 100px 0 70px ;
    max-width: 1800px;
    margin: 0 auto;
    background-color: #282828;
    height: 100vh;
    position: relative;
    display: flex;
}
.director-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.director-item img{
    padding: 0 0 120px 70px;
    height: auto;
    max-width: 100%;
    display: block;
    object-fit: cover;
    object-position: top center;
    

}
.director h2{
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 50px;
}
.director-content{
 font-size: 19px;
    line-height: 1.6;
    margin-bottom: 10px;
    max-width: 590px;
    color:#ffffff;
 font-weight: 400;
 margin-top: 20px;
}
.social-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.social-list img {
    width: 492px;
    height: 625px;
}
.about-social{
    padding: 70px 0 20px ;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.about-social h2{
    text-align: left;
    color: #000000;
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 50px;
}
.social-content p{
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 10px;
    max-width: 590px;
}

.production{
     padding: 50px 0 70px ;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
     align-items: center;
}
.production h2{
    text-align:center;
    color: #000000;
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 50px;
}
.production-content p{
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 10px;
    max-width: 990px;
    text-align: center;
}
.production-gallery {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.production-gallery .row {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.production-gallery img {
    max-width: 100%;
    height: auto;
   
    width: 500px;
}

.production-gallery .top-row img {
    width: 600px;
    height: auto;
    
}

.production-gallery .bottom-row img {
    width: 395px; 
    height: auto;
    
}

